<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
        <style>
            .header {
                background-color: bisque;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>Welcome!</h1>
        </div>
        <h2>It's a simple app to demonstrate sprint security</h2>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>