<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
    <div style="margin-left: 100px; margin-top: 100px;">
        <form th:action="@{/login}" method="post">
            <div><label style="display: block; width: 200px;"> User Name: </label> <input type="text" name="username"/></div>
            <div><label style="display: block; width: 200px;"> Password: </label><input type="password" name="password"/></div>
            <br/>
            <div><input type="submit" value="Sign In"/></div>
            <br/>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
        </form>
    </div>
</body>
</html>